<a href="https://colab.research.google.com/github/uldkh/colab_projects/blob/main/5_AE_opredelenie_moshennicheskih_operaciy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.layers import Dense, Flatten, Reshape, Input, Conv2DTranspose, concatenate, Activation, MaxPooling2D, Conv2D, BatchNormalization
from tensorflow.keras import backend as K
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import utils
from tensorflow.keras.preprocessing import image

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import os
import time
from PIL import Image

In [ ]:
def set_plt_params(fontsize=11, linewidth=2.3):

  plt.rcParams['axes.prop_cycle'] = plt.cycler(color=['#0072B2', '#009E73', '#D55E00', '#CC79A7', '#F0E442', '#56B4E9'])
  plt.rcParams['lines.linewidth'] = linewidth
  plt.rc("axes", facecolor="#181c27", edgecolor="#2a2e39", grid=True)
  plt.rc("figure", figsize=(17.87, 10.45), facecolor="#181c27", edgecolor="#2a2e39")
  plt.rc("grid", color="#2a2e39", linestyle="dashed")
  plt.rc("xtick", labelsize=fontsize, color="#b2b5be", bottom=False)
  plt.rc("ytick", labelsize=fontsize, color="#b2b5be", left=False)
  plt.rc("legend", handleheight=1, handlelength=2)
  plt.rc("text", color="#b2b5be")

set_plt_params()

In [ ]:
df = pd.read_csv("/content/creditcard.csv")

In [ ]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
df.drop(["Time"], axis=1, inplace=True)
df["Amount"] = StandardScaler().fit_transform(df["Amount"].to_numpy().reshape(-1, 1))

In [ ]:
frauds = df[df.Class == 1]
normal = df[df.Class == 0]
frauds.shape, normal.shape

((492, 30), (284315, 30))

In [ ]:
X_train, X_test = train_test_split(normal, test_size=0.2, random_state=77)
X_train.shape, X_test.shape

((227452, 30), (56863, 30))

In [ ]:
X_train.drop(["Class"], axis=1, inplace=True)
X_test = pd.concat([X_test, frauds])
y_test = X_test["Class"]
X_test = X_test.drop(["Class"], axis=1)

In [ ]:
X_train = X_train.to_numpy()
X_test = X_test.to_numpy()

In [ ]:
X_train.shape, X_test.shape

((227452, 29), (57355, 29))

In [ ]:
def credit_card_autoencoder():
  
  data_size = X_train.shape[1]
  data_input = Input(shape=(data_size))
  
  x = Dense(10, activation="relu")(data_input)
  x = Dense(data_size, activation="linear")(x)
  
  autoencoder = Model(inputs=data_input, outputs=x)
  autoencoder.compile(optimizer="Adam", loss="mse")
  
  return autoencoder

In [ ]:
def get_batch_size(shape):

  batches = []

  for i in range(2, 1000):
    if shape % i == 0:
      batches.append(i)
  
  if batches:
    return batches
  else:
    print("Didn't find integer divisors")

In [ ]:
get_batch_size(X_train.shape[0])

[2, 4, 101, 202, 404, 563]

In [ ]:
model = credit_card_autoencoder()
history = model.fit(X_train, X_train, epochs=5, batch_size=101)

Epoch 1/5
2252/2252 [==============================] - 8s 3ms/step - loss: 0.5400
Epoch 2/5
2252/2252 [==============================] - 6s 3ms/step - loss: 0.3668
Epoch 3/5
2252/2252 [==============================] - 6s 2ms/step - loss: 0.3574
Epoch 4/5
2252/2252 [==============================] - 6s 3ms/step - loss: 0.3556
Epoch 5/5
2252/2252 [==============================] - 8s 3ms/step - loss: 0.3555

In [ ]:
predictions = model.predict(X_test)

In [ ]:
mse = np.mean(np.power(X_test - predictions, 2), axis=1)

In [ ]:
mse

array([0.15625789, 0.20670171, 0.38737713, ..., 2.85662503, 5.70907313,
       0.31624663])

In [ ]:
mse_normal = mse[y_test.values == 0]
mse_frauds = mse[y_test.values == 1]

In [ ]:
print("Минимальная ошибка нормальных транзакций:", round(min(mse_normal), 3))
print("Максимальная ошибка нормальных транзакций:", round(max(mse_normal), 3))
print("Средняя ошибка нормальных транзакций:", round(sum(mse_normal) / len(mse_normal), 3))

Минимальная ошибка нормальных транзакций: 0.042
Максимальная ошибка нормальных транзакций: 74.061
Средняя ошибка нормальных транзакций: 0.35

In [ ]:
print("Минимальная ошибка мошеннических транзакций:", round(min(mse_frauds), 3))
print("Максимальная ошибка мошеннических транзакций:", round(max(mse_frauds), 3))
print("Средняя ошибка мошеннических транзакций:", round(sum(mse_frauds) / len(mse_frauds), 3))

Минимальная ошибка мошеннических транзакций: 0.161
Максимальная ошибка мошеннических транзакций: 95.752
Средняя ошибка мошеннических транзакций: 19.023

In [ ]:
def get_acc_by_bias(bias):
  
  is_normal = mse_normal < bias
  is_frauds = mse_frauds > bias

  acc_normal = sum(is_normal) / len(is_normal)
  acc_faruds = sum(is_frauds) / len(is_frauds)

  print("Распознано нормальных транзакций: ", round(100 * acc_normal), "%", sep="")
  print("Распознано мошеннических транзакций: ", round(100 * acc_faruds), "%", sep="")
  print("Средняя точность распознавания: ", round(50 * (acc_normal + acc_faruds)), "%", sep="")

In [ ]:
get_acc_by_bias(0.62)

Распознано нормальных транзакций: 92%
Распознано мошеннических транзакций: 90%
Средняя точность распознавания: 91%